# Ignore Python virtual environment
venv/
venv*/          # in case your env has a different name

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment variables / secrets
.env
*.env
.env.*

# IDE / editor settings
.vscode/
.idea/

# MacOS system files
.DS_Store

# Logs
*.log

# Python cache
*.pytest_cache/
